<header>
    <form class="col-md-5 col-lg-4 col-md-offset-2 col-sm-6 col-xs-12 job-form">
        <h3>Search Jobs Online or Hire Employees! <i class="fa fa-arrow-right small-icon"></i></h3>
        <input type="text" class="form-control white" placeholder="Keyword e.g. (Job Title, Description)">
        <input type="text" class="form-control white" placeholder="Location e.g. (Postal Code, Zip... )">
        <button type="submit" class="btn dark-red job-search-btn">
            Search Jobs <i class="fa fa-chevron-right"></i>
        </button>
    </form>
    <div class="owl-carousel owl-header banner-slider">
        <div class="item" data-background="img/header.jpg"></div>
        <div class="item" data-background="img/banner-home-02.jpg"></div>
        <div class="item" data-background="img/header3.jpg"></div>
    </div>
</header>
<section class="facts">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <span class="number counter">14329</span> Registered Members
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <span class="number counter">12894</span> Jobs Found
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <span class="number counter">877</span> Awesome Companies
                </div>
            </div>
            <div class="col-md-3 col-sm-6 btn-container">
                <a href="#" class="btn red no-margin">Sign In/Register <i class="fa fa-chevron-right"></i></a>
            </div>
            <script type="text/ng-template" id="tellusWho.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Tell us about yourself</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">I am a Fresher</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">I am a Professional</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                </div>
            </script>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row title text-center">
            <h3>Offering the best services</h3>
            <h6 class="alt">3 easy steps to find a Job</h6>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="feature text-center">
                    <img src="img/heart.png" alt="">
                    <h4>Searching for the best job</h4>
                    <p>Perform a quick search to find your job.</p>
                    <a href="#" class="btn read-more">Read More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature text-center">
                    <img src="img/letter.png" alt="">
                    <h4>Apply on interested jobs</h4>
                    <p>Register to Apply.</p>
                    <a href="#" class="btn read-more">Read More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature text-center">
                    <img src="img/watch.png" alt="">
                    <h4>Get quick Hiring by Companies</h4>
                    <p>Chat with Employer and get hired.</p>
                    <a href="#" class="btn read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="job-list-section">
    <div class="container">
        <div class="row title text-center no-margin">
            <h3 class="small-margin">trending jobs for you</h3>
            <h6 class="alt small-margin">Your job for the future</h6>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabs-container">
                    <div class="tab-nav">
                        <a href="#" class="active">For Job Seeker</a>
                        <a href="#">For Companies</a>
                        <a href="#">Find Candidates</a>
                        <p class="blue-color jobs-count">24123 Jobs Found</p>
                    </div>
                    <div class="tab-holder">
                        <div class="tab">
                            <div class="mj_tabcontent">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td><a href="#"><i class="fa fa-heart"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><img alt="" class="img-responsive" src="img/profilepic1.jpg">
                                                </a>
                                            </td>
                                            <td>
                                                <h4><a href="#">Senior Web Developer</a></h4>
                                                <p>Company Inc.</p>
                                            </td>
                                            <td>
                                                <i class="fa fa-map-marker"></i>
                                                <p>Bangalore</p>
                                            </td>
                                            <td>
                                                <a class="mj_btn mj_greenbtn" href="#">Full Time</a>
                                            </td>
                                            <td><a class="btn btn-small blue btn-apply" href="#">Apply</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="#"><i class="fa fa-heart"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><img alt="" class="img-responsive" src="img/profilepic2.jpg">
                                                </a>
                                            </td>
                                            <td>
                                                <h4><a href="#">UX Designer</a></h4>
                                                <p>Company Inc.</p>
                                            </td>
                                            <td>
                                                <i class="fa fa-map-marker"></i>
                                                <p>Chennai</p>
                                            </td>
                                            <td>
                                                <a class="mj_btn mj_orangebtn" href="#">Freelance</a>
                                            </td>
                                            <td><a class="btn btn-small blue btn-apply" href="#">Apply</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="#"><i class="fa fa-heart"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><img alt="" class="img-responsive" src="img/profilepic3.jpg">
                                                </a>
                                            </td>
                                            <td>
                                                <h4><a href="#">Web Designer</a></h4>
                                                <p>Company Inc.</p>
                                            </td>
                                            <td>
                                                <i class="fa fa-map-marker"></i>
                                                <p>Hyderabad</p>
                                            </td>
                                            <td>
                                                <a class="mj_btn mj_greenbtn" href="#">full time</a>
                                            </td>
                                            <td><a class="btn btn-small blue btn-apply" href="#">Apply</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="#"><i class="fa fa-heart"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><img alt="" class="img-responsive" src="img/profilepic4.jpg">
                                                </a>
                                            </td>
                                            <td>
                                                <h4><a href="#">Project Manager</a></h4>
                                                <p>Company Inc.</p>
                                            </td>
                                            <td>
                                                <i class="fa fa-map-marker"></i>
                                                <p>Mumbai</p>
                                            </td>
                                            <td>
                                                <a class="mj_btn mj_greenbtn" href="#">full time</a>
                                            </td>
                                            <td><a class="btn btn-small blue btn-apply" href="#">Apply</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="#"><i class="fa fa-heart"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><img alt="" class="img-responsive" src="img/profilepic5.jpg">
                                                </a>
                                            </td>
                                            <td>
                                                <h4><a href="#">Design Technologist</a></h4>
                                                <p>Company Inc.</p>
                                            </td>
                                            <td>
                                                <i class="fa fa-map-marker"></i>
                                                <p>Pune</p>
                                            </td>
                                            <td>
                                                <a class="mj_btn mj_redbtn" href="#">Part Time</a>
                                            </td>
                                            <td><a class="btn btn-small blue btn-apply" href="#">Apply</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="#"><i class="fa fa-heart"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><img alt="" class="img-responsive" src="img/profilepic6.jpg">
                                                </a>
                                            </td>
                                            <td>
                                                <h4><a href="#">Front End Developer</a></h4>
                                                <p>Company Inc.</p>
                                            </td>
                                            <td>
                                                <i class="fa fa-map-marker"></i>
                                                <p>Delhi</p>
                                            </td>
                                            <td>
                                                <a class="mj_btn mj_greenbtn" href="#">full Time</a>
                                            </td>
                                            <td><a class="btn btn-small blue btn-apply" href="#">Apply</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4">
                                    <div class="mj_showmore">
                                        <a class="btn red no-margin" href="#">Show More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clearfix testimonial-section">
    <div class="mj_transprentbg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="mj_videodiv">
                            <img src="img/applepc.jpg" alt="">
                            <div class="mj_overlay">
                                <div class="mj_overlay_inner">
                                    <h1>Some Kind The Words From Our Clients</h1>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="mj_testimonial_slider">
                            <span class="mj_quote"><img src="img/quote.png" class="img-responsive" alt=""></span>
                            <div class="mj_testimonial_slider_content">
                                <div id="owl-demo" class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="mj_testimonial_img">
                                            <img src="img/testimonial1.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="mj_testimonial_data">
                                            <h4>S<span>ed ut perspiciatis unde omnis iste
natus error sit voluptatem accusantium doloremque laudantium</span></h4>
                                            <h6>Anna Novak</h6>
                                            <p>Marketing Consulant</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="mj_testimonial_img">
                                            <img src="img/testimonial2.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="mj_testimonial_data">
                                            <h4>S<span>ed ut perspiciatis unde omnis iste
natus error sit voluptatem accusantium doloremque laudantium</span></h4>
                                            <h6>Adam Kowalski</h6>
                                            <p>Graphic Webdesigner</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="mj_testimonial_img">
                                            <img src="img/testimonial1.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="mj_testimonial_data">
                                            <h4>S<span>ed ut perspiciatis unde omnis iste
natus error sit voluptatem accusantium doloremque laudantium</span></h4>
                                            <h6>Britney Simpson</h6>
                                            <p>Project Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-alt1 no-margin employer-section">
    <div class="container">
        <div class="row title text-center no-margin">
            <h3 class="small-margin">Partners of Resource Inputs Ltd.</h3>
            <h6 class="alt small-margin">FEATURED EMPLOYERS</h6>
        </div>

        <div class="row owl-clients">
            <div class="item text-center">
                <img src="img/partner1.jpg" class="client" alt="">
            </div>
            <div class="item text-center">
                <img src="img/partner2.jpg" class="client" alt="">
            </div>
            <div class="item text-center">
                <img src="img/partner3.jpg" class="client" alt="">
            </div>
            <div class="item text-center">
                <img src="img/partner4.jpg" class="client" alt="">
            </div>
            <div class="item text-center">
                <img src="img/partner5.jpg" class="client" alt="">
            </div>
            <div class="item text-center">
                <img src="img/partner6.jpg" class="client" alt="">
            </div>
            <div class="item text-center">
                <img src="img/partner7.jpg" class="client" alt="">
            </div>
            <div class="item text-center">
                <img src="img/partner8.jpg" class="client" alt="">
            </div>
        </div>
    </div>
</section>

<section class="mobileapp-section">
    <div class="container">
        <div class="row title text-center">
            <h3>GET OFFERS ON THE GO! </h3>
            <h6 class="alt">Download the Resource Inputs Ltd. app and get offers on Websites on your mobile — Anytime, Anywhere. </h6>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group signup-app">
                    <label>First 1000 signups get free resume review</label>
                    <div class="input-group rounded-btn">
                        <input type="text" class="form-control" placeholder="Enter your email address" aria-describedby="basic-addon2">
                        <span class="input-group-btn">
                                <button class="btn blue" type="button">Submit</button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <figure class="mobile-app"><img src="img/mockup.png" /></figure>
            </div>
        </div>
    </div>
</section>
