<div class="page-title">
    <div class="row no-padding">
        <div class="col-md-6">
            <h1>Manage Interviews</h1>
            <ul>
                <li><a href="#/"><i class="fa fa-home"></i></a> /</li>
                <li class="active">Manage Interviews</li>
            </ul>
        </div>
        <div class="col-md-6 text-right">
            <a href="#/trackInterview" class="btn blue no-margin">
                Track Interview Status
            </a>
        </div>
    </div>
</div>
<div class="page-content-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="mj_postdiv mj_shadow_blue mj_postpage mj_toppadder20 form-panel">
                    <div class="container-fluid">
                        <form>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Job Name</label>
                                        <oi-select oi-options="key as value for (key, value) in shopObj" ng-model="bundle" multiple placeholder="Select"></oi-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="action-group text-right mj_toppadder30">
                                        <button type="submit" class="btn blue job-search-btn">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 profile-list">
                <div class="worker-header profile-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="img/p1.png" class="worker-mid-pic" alt="">
                        </div>
                        <div class="col-sm-5">
                            <h3 class="profile-name">S C Rajendran</h3>
                            <h5>Graphic and webdesigner at <a href="#">Creativedesign.com</a></h5>
                            <p><i class="fa fa-map-marker"></i> Chennai, India</p>
                            <a href="#" class="tag">Design</a>
                            <a href="#" class="tag">Development</a>
                            <a href="#" class="tag">Seo</a>
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h6 class="alt">Salary</h6>
                                    <h4>6.5 Lacs/Year</h4>
                                </div>
                                <div class="col-sm-5">
                                    <h6 class="alt">Experience</h6>
                                    <h4>4 Years</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 action-group text-right">
                                    <a href="#" class="btn red circle" title="Download Resume"><i class="fa fa-download" aria-hidden="true"></i></a>
                                    <a href="#" class="btn green circle" title="Apply for Job"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
                                    <a href="#" class="btn blue circle" title="More Details"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="worker-header profile-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="img/p2.png" class="worker-mid-pic" alt="">
                        </div>
                        <div class="col-sm-5">
                            <h3 class="profile-name">Prakash BP</h3>
                            <h5>UI designer at <a href="#">kreativesolutions.com</a></h5>
                            <p><i class="fa fa-map-marker"></i> Chennai, India</p>
                            <a href="#" class="tag">Photoshop</a>
                            <a href="#" class="tag">Design</a>
                            <a href="#" class="tag">Development</a>

                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h6 class="alt">Salary</h6>
                                    <h4>3.5 Lacs/Year</h4>
                                </div>
                                <div class="col-sm-5">
                                    <h6 class="alt">Experience</h6>
                                    <h4>2 Years</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 action-group text-right">
                                    <a href="#" class="btn red circle" title="Download Resume"><i class="fa fa-download" aria-hidden="true"></i></a>
                                    <a href="#" class="btn green circle" title="Apply for Job"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
                                    <a href="#" class="btn blue circle" title="More Details"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="worker-header profile-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="img/profilepic4.jpg" class="worker-mid-pic" alt="">
                        </div>
                        <div class="col-sm-5">
                            <h3 class="profile-name">Mounika S</h3>
                            <h5>Mobile Developer at <a href="#">infosys.com</a></h5>
                            <p><i class="fa fa-map-marker"></i> Chennai, India</p>
                            <a href="#" class="tag">IONIC</a>
                            <a href="#" class="tag">Hybrid Mobile</a>
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h6 class="alt">Salary</h6>
                                    <h4>3.5 Lacs/Year</h4>
                                </div>
                                <div class="col-sm-5">
                                    <h6 class="alt">Experience</h6>
                                    <h4>2 Years</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 action-group text-right">
                                    <a href="#" class="btn red circle" title="Download Resume"><i class="fa fa-download" aria-hidden="true"></i></a>
                                    <a href="#" class="btn green circle" title="Apply for Job"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
                                    <a href="#" class="btn blue circle" title="More Details"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="worker-header profile-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="img/testimonial1.jpg" class="worker-mid-pic" alt="">
                        </div>
                        <div class="col-sm-5">
                            <h3 class="profile-name">Manju K</h3>
                            <h5>JAVA Deveoper at <a href="#">infosystems.com</a></h5>
                            <p><i class="fa fa-map-marker"></i> Chennai, India</p>
                            <a href="#" class="tag">JAVA</a>
                            <a href="#" class="tag">J2EE</a>
                            <a href="#" class="tag">Spring</a>
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h6 class="alt">Salary</h6>
                                    <h4>4.3 Lacs/Year</h4>
                                </div>
                                <div class="col-sm-5">
                                    <h6 class="alt">Experience</h6>
                                    <h4>3 Years</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 action-group text-right">
                                    <a href="#" class="btn red circle" title="Download Resume"><i class="fa fa-download" aria-hidden="true"></i></a>
                                    <a href="#" class="btn green circle" title="Apply for Job"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
                                    <a href="#" class="btn blue circle" title="More Details"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="floating-space"></div>

<button type="button" class="btn red floating-btn" ng-click="openModal('lg')">Schedule Interview (6)</button>

<script type="text/ng-template" id="scheduleInterview.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Schedule Interview</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Company Name</label>
                    <oi-select oi-options="key as value for (key, value) in shopObj" ng-model="bundle" multiple placeholder="Select"></oi-select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Interview Location</label>
                    <input type="text" class="form-control" placeholder="Enter Interview Location">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Interview Date</label>
                    <div class="input-group datepicker">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" placeholder="Enter Job Active From Date" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Interview Time</label>
                    <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn gray no-margin" type="button" ng-click="closeModal()">Discard</button>
        <button class="btn blue no-margin" type="button">Schedule</button>
    </div>
</script>
